@use "reset";

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #fe2c55;
  --white: #fff;
  --height-header: 60px;
  --container: 1150px;

  // var font
  --font-family: TikTokFont, sans-serif;

  // color
  --text-color: #161823;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
}

a[href] {
  text-decoration: none;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  background-color: transparent;
}
// fonts embed
@font-face {
  font-family: TikTokDisplayFont;
  src: url(/assets/fonts/TikTokDisplayFont-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: TikTokFont;
  src: url(/assets/fonts/TikTokFont-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: TikTokFont;
  src: url(/assets/fonts/TikTokFont-Semibold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: TikTokFont;
  src: url(/assets/fonts/TikTokFont-Regular.woff2);
  font-weight: 400;
}

// common
.container {
  height: 100%;
  width: 100%;
  padding-left: 16px;
  padding-right: 24px;
}

.tippy-box {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.1rem;
  background-color: rgba(84, 84, 84, 0.92);
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 8px;
}

.tippy-arrow {
  color: rgba(84, 84, 84, 0.92);
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -8px;
}
