.menu-list {
  width: 266px;

  .menu-item {
    margin-left: 0;
    // padding: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
}

// arrow
.arrow::before {
  content: "";
  display: block;

  position: absolute;
  top: -17px;
  right: 20px;
  border: 9px solid;
  border-color: transparent transparent #fff transparent;
  filter: drop-shadow(rgba(0, 0, 0, 0.12) 0px 2px 12px);
}

.menu-item {
  height: 41px;

  width: 100%;
  justify-content: flex-start;
  color: rgb(22, 24, 35);
  padding: 10px 8px 10px 16px;
  border-radius: 0;
  font-weight: 600;
  white-space: nowrap;

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

// Header Menu
.header-menu {
  position: relative;
  margin-top: -8px;
  height: 50px;
  width: 100%;
}

.header-menu__btn {
  margin-left: 28px;
  font-size: 20px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.3;
}
